.carousel-item active{
position: relative;
          text-align: center;
          color: white;
}
.text{
    position: absolute;
            top: 50%;
            left: 80%;
            transform: translate(-50%, -50%);
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}